body{
  font-family: Arvo;
  margin: 0px !important;
  padding: 0px;
}

.header{
  background-color: black;
  padding: 5px 5px;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.5);
}

.header h1,
.header a{
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 0 5px;
  transition: 0.4s;
}
.header a:hover{
  color: rgb(50, 249, 0);
}

.footer{
  position: relative;
  bottom: 0px;
  margin-top: 40px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;
}
.footer p{
  margin: 0;
  padding: 20px;
  font-size: 0.8em;
}

.content{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 145px)
}
.content h2{
  text-align: center;
  background-color: black;
  color: white;
  font-weight: 100;
}
.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-around;
  text-align: center;
}
.row div{
  flex-grow: 1;
  flex-basis: 0;
}

.exp{
  display: block;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
.exp::-webkit-scrollbar {
  display: none;
}

.exp div{
  text-align: center;
  display: inline-block;
  margin: 5px;
  width: 300px;
}
.exp img{
  width: 75px;
  transition: 0.2s;
}
.exp img:hover{
  width: 70px;
}
.exp em,
.exp img{
  display: block;
  margin: 5px auto;
}

.code em{
  display: block;
  margin: 2px auto;
  font-size: 0.8em;
}
.code3{
  color: #595959;
}


@media (max-width: 992px){

  body{
    font-size: 1.5rem;
  }

  .header{
    display: flex;
    flex-direction: column;
  }

  .header a,
  .header h1{
    margin: 15px auto;
    font-size: 1.6em;

  }

  .content{
    margin-top: 300px;
  }

  .row{
    flex-direction: column;
    justify-content: space-between;
  }

  .row div{
    margin: 50px;
  }


  .exp div{
    width: auto;
    margin: 0 55px;
    font-size: 1em;
  }

}
