:root{
  --dark: rgb(0, 43, 0);
  --darkest: rgb(12, 10, 6); 
  --bright: rgb(255,255,255);
  --pale: rgb(161, 167, 135);
  --paler: rgba(161, 167, 135, 0.5);
}

body{
  transition: .2s;
  font-family: Arvo;
  margin: 0px !important;
  padding: 0px;
  color: var(--dark);
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
body::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.sidebar{
  font-size: calc(2vh);
  text-align: center;
  display: block;
  position: fixed;
  left: 0;
  width: 30%;
  top: 0;
  min-height: calc(100vh);
  background-color: var(--dark);
  color: var(--bright);
  padding-top: calc(10vh);
}

.sidebar h1{
  width: 100%;
  margin: 0;
  background: linear-gradient(90deg,var(--bright) 50%,#ffff00 , #ff0042,#009cff,#4aff00,white);
  background-size: 200%;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   transition: 1s ease-out;
 }
 .sidebar h1:hover {
  background-position: -200%;
 }

.sidebar .photo{
  border: 15px outset var(--bright);
  width: 30%;
  border-radius: 50%;
  margin: 25px 15px 15px;
}

.sidebar a{
  color: var(--bright);
}

.sidebar .links_container{
  margin: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sidebar .links_container > *{
  padding: 5px 10px;
}

.sidebar .links_container img{
  width: 20px;
  -webkit-filter: invert(1);
  filter: invert(1);
}


.sidebar .footer_container{
  margin-top:calc(10vh);
  font-size: .75em;
}

.sidebar a.cv_link{
  width: 20px;
  display: block;
  text-decoration: none;
  padding-bottom: 0px;
}

.sidebar .nav_container{
  margin: 45px;
  display: flex;
  flex-direction: column;
}

.sidebar .nav_container a{
  text-decoration: none;
  color: var(--pale);
  transition: .2s;
}

.sidebar .nav_container a:hover{
  color: var(--bright);
}

.sidebar .nav_container a.active{
  text-decoration: underline;
  color: var(--bright);

}

.sidebar p{
  margin: 20px 25%;
}




.main_panel{
  color: var(--darkest);
  display: block;
  width: 70%;
  margin: 0;
  margin-left: 30%;
  background-color: var(--bright);
  min-height: calc(100vh);
  text-align: center;
  font-size: 2em;
}

.main_panel h3{
  border-top: 25px solid var(--dark);
  padding-top: 40vh;
  font-size: 2em;
  margin: 0 ;
  margin-top: 0;
  text-decoration: underline;
}



#back_to_top_btn{
  border-radius: 50% 50% 0 0;
  opacity: .3;
  position: fixed;
  bottom: -200px;
  right: 20px;
  font-size: 2em;
  width: 60px;
  height: 60px;
  border: 0px solid black;
  background-color: var(--pale);
  transition: .2s;
  padding-bottom: 10px;
}
#back_to_top_btn:hover{
  opacity: 1;
  color: var(--bright);
  background-color: var(--dark);
}


.about .exp a img{
  display: block;
  margin: auto;
}

.about .exp div{
  margin: 60vh 0;
  display: flex;
  flex-direction: column;
}

.about .exp div > *{
  margin: 20px;
}


.code{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 30vh;
}

.code .item{
  border-radius: 5px;
  display: inline-block;
}

.code .github{
  filter: invert(48%) sepia(13%) saturate(3000%) hue-rotate(230deg) brightness(15%) contrast(80%);
  width: 40px;
  margin: 10px;
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
}
.code a{
  text-decoration: none;
}

.code .thumbnail{
  border-radius: 5px;
  max-width: 30%;
  object-fit: contain;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60vh;
  transition: .2s;
}


.code .desc{
  width: 70%;
  display: inline-block;
  white-space:normal;
  text-align: left;
  margin: 10px;
  font-size: 0.9em;
}
.code .bottom{
  width: 100%;
  display: block;
}
.linea-span{
  font-family: Montserrat Alternates;
  font-weight: 800;
}

@media  (max-width: 460px) {
  .sidebar{
    font-size: 75% !important;
  }
}