body{
  font-family: Arvo;
  /* font-family: 'Montserrat Alternates', sans-serif; */
  margin: 0px !important;
  padding: 0px;
}

.header{
  font-family: Arvo;
  background-color: rgba(19, 0, 29, 1);
  padding: 5px 0;
  text-align: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  /* box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.5); */
}

.header h1,
.header a{
  font-weight: 700;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 0 5px;
  transition: 0.4s;
}
.header a:hover{
  color: rgba(50, 249, 0, 1);
}

.header  a{
  margin: 10px 20px 5px;
}

.header h1{
 width: 100%;
 margin: 0;
 border-bottom: 1.5px solid white;
 background: linear-gradient(90deg,white 50%,#ffff00 , #ff0042,#009cff,#4aff00,white);
 background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s ease-out;
}
.header h1:hover {
 background-position: -200%;
}



.footer{
  position: relative;
  bottom: 0px;
  margin-top: 40px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(19, 0, 29, 1);
}
.footer p{
  margin: 0;
  padding: 20px;
  font-size: 0.8em;
}

.content{
  margin-top: 68px;
  display: flex;
  flex-direction: column;
}
.content h2{
  font-family: Arvo;
  text-align: center;
   font-weight: 700;
  background-color: rgba(19, 0, 29, 1);
  color: white;
  padding: 7px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-around;
  text-align: center;
}

.about{
  display: flex;
}

.about-me{
  flex-grow: 0;
  width: 340px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 30px;
  margin-right: 10px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  border-right: 3px solid rgba(19, 0, 29, 0.2);
  padding: 0 20px;
}
.about-me p{
  width: 150px;
}
.about-me img{
  margin: 0px 20px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.work-studies{
  white-space: nowrap;
  margin-top: 168px;
  width: 20px;
  height: 30px;
  z-index: -1;
  font-weight: 800;
  transform: rotate(-90deg);
}

.exp{
  flex-grow: 2 !important;
  display: block;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}


.exp::-webkit-scrollbar,
.code::-webkit-scrollbar{
  background: rgba(255, 255, 255, 0);
  display: block;
  height: 10px;
}
::-webkit-scrollbar-thumb{
  background: rgba(19, 0, 29, 0.15);
}

.exp div{
  text-align: center;
  display: inline-block;
  margin: 5px;
  width: 300px;
}
.exp img{
  width: 75px;
  transition: 0.2s;
}
.exp img:hover{
  width: 70px;
}
.exp em,
.exp img{
  display: block;
  margin: 5px auto;
}

.code{
  display: block;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.code .item{
  border-radius: 5px;
  /* background-color: rgba(19, 0, 29, 0.1); */
  flex-grow: 0;
  width: 300px;
  display: inline-block;
  margin: 20px 40px;
  padding: 20px 10px;
  padding-right: 20px;
}

.code .github{
  filter: invert(48%) sepia(13%) saturate(3000%) hue-rotate(230deg) brightness(15%) contrast(80%);
  width: 40px;
  margin: 10px;
  margin-top: 15px;
  display: inline-block;
}
.code .thumbnail{
  border-radius: 5px;
  object-fit: contain;
  width: 300px;
  height: 150px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(19, 0, 29, 0.15);
}
.code .desc{
  width: 230px;
  display: inline-block;
  white-space:normal;
  text-align: left;
  margin: 10px;
  font-size: 0.9em;
}
.code .bottom{
  width: 300px;
  display: block;
}


.linea-span{
  font-family: Montserrat Alternates;
  font-weight: 800;
}

@media (max-width: 992px){

  body{
    font-size: 1.5rem;
  }

  .header{
    display: flex;
    flex-direction: column;
  }

  .header a,
  .header h1{
    padding: 15px auto;

  }
  .header a{
    font-size: 1em;
  }

  .header h1{
    font-size: 1.6em;
  }

  .content{
    margin-top: 76px;
  }

  .row{
    flex-direction: column;
    justify-content: space-between;
  }

  .row div{
    margin: 50px;
  }


  .exp div{
    width: auto;
    margin: 0 55px;
    font-size: 1em;
  }

}
